* {
    box-sizing: border-box;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#calcBody {
    display: flex;
    height: 50vh;
    width: 25vw;
    border: 5px solid black;
    background-color: salmon;
}